body {
    font-family: fixed-width;
    background: #000;
    color: #fff;
}
.invisibleFocus {
    outline: none;
}
.textC {
    text-align: center;
}
.marginC {
    margin: 0 auto;
}
.cell {
    width: 1.2em;
    font-weight: bold;
    font-size: 2em;
}
.item1of3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 33.3%;
}