body {
    font-family: fixed-width;
    background: #000;
    color: #fff;
}
.invisibleFocus {
    outline: none;
}
.textC {
    text-align: center;
}
.marginC {
    margin: 0 auto;
}
.cell {
    width: 1.2em;
    font-weight: bold;
    font-size: 2em;
}