html {
    background: #000;
    color: #fff;
    margin-top: 10px;
}
.page {
    font-family: "Courier New";
    margin: 0 10%;
}
a {
    color: #fff;
}
.invisibleFocus {
    outline: none;
}
.textC {
    text-align: center;
}
.marginC {
    margin: 0 auto;
}
.mainHeading {
    font-weight: bold;
    font-size: 197%;
}
.break {
    margin-bottom: 2em;
}
.cell {
    width: 1.2em;
    font-weight: bold;
    font-size: 123.1%;
    background: #222;
}
.monster-name {
    font-weight: bold;
}
